<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>indexLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InputServlet</servlet-name>
    <servlet-class>com.servlet.InputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.servlet.PrintServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayServlet</servlet-name>
    <servlet-class>com.servlet.PlayServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenameServlet</servlet-name>
    <servlet-class>com.servlet.RenameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TurnOffPCServlet</servlet-name>
    <servlet-class>com.servlet.TurnOffPCServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SplitFileServlet</servlet-name>
    <servlet-class>com.servlet.SplitFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MergeFileServlet</servlet-name>
    <servlet-class>mergeFile.MergeFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MD5Servlet</servlet-name>
    <servlet-class>com.servlet.MD5Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WordCheckServlet</servlet-name>
    <servlet-class>com.servlet.WordCheckServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.servlet.Welcome</servlet-class>
  </servlet>











  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InputServlet</servlet-name>
    <url-pattern>/input.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/print.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayServlet</servlet-name>
    <url-pattern>/playServlet.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenameServlet</servlet-name>
    <url-pattern>/rename.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TurnOffPCServlet</servlet-name>
    <url-pattern>/turnOff.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SplitFileServlet</servlet-name>
    <url-pattern>/split.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MergeFileServlet</servlet-name>
    <url-pattern>/mergeFile.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MD5Servlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WordCheckServlet</servlet-name>
    <url-pattern>/wordcheck.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/welcome.action</url-pattern>
  </servlet-mapping>
</web-app>
