body{
	background-color: #F8F8F8;
}
input{
	
	border: 0px;
}
.cueInfo{
	width:90px;
	text-align: right;
}
.inputSearch{
	width:200px;
	line-height:25px;
	background-color: #E6E6E6;
}
.btnSearch{
	background-color: #98BAEF;
	height:26px;
	width:200px;
	color:white;
	font-weight:bold;
	font-size: 17px;
}
.errordisk{
	color:red;
}
.errorfolder{
	color:red;
}
.divTurnoff{
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:red;
	font-size:20px;
	color:white;
	font-weight: bold;
}
.cancelOff{
	color:green;
	font-weight: bold;
}
.errormsgStyle{
	color:red;
}
.left{
	width: 20%;
	float: left;
}
.middle{
	width: 55%;
	float: left;
}
.divRightStyle{
	width: 25%;
	float: left;
}
