.errordisk{
	color:red;
}
.divTurnoff{
	width:60px;
	height:30px;
	line-height:30px;
	text-align:center;
	background-color:red;
	font-size:20px;
	color:white;
	font-weight: bold;
}
.cancelOff{
	color:green;
	font-weight: bold;
}
.errormsgStyle{
	color:red;
}
.left{
	width: 350px;
	float: left;
}
.middle{
	width: 550px;
	float: left;
}