*{margin:0 auto;padding:0;list-style:none;border:none;}
body{background:#fafafa;text-align: center;}

.mytr{
	background-color:#ECF6EE;
}
.mytitle{
	background-color:orange; 
	color:#f3f3f3;
	font-size:25px;
	font-weight:bold;
	text-align: center;
}
.mycenter{
	text-align: center;
}
#mySearchInfo{
	line-height: 35px;
	color:green;
	font-size:25px;
}
#mySearchInfo a:LINK{
	text-decoration:none;
	color:black;
}
#mySearchInfo a:HOVER{
	text-decoration:none;
}
.myright{
	position:fixed;right:25px;bottom:25px;display:block;width:26px;height:62px;
	background-color:orange;
	background:url(../images/rocket.png) no-repeat 0 0;-webkit-transition: all 0.2s ease-in-out;
}
.myright:HOVER{
	background:url(../images/rocket.png) no-repeat 0 -62px;
}

.errordiskfile{
	color:red;
}


.mydivcenter{
	
}

/* 字体大小 */
.normal{
	color:#000000;
	font-size:20px;
	background-color:#cdd8d1;
}
.max{
	color:#808080;
	font-size:38px;
	background-color:#9ce9b4;
}
.min{
	color:#ffffff;
	font-size:12px;
	background-color:#f1b9dd;
}
